# DECISION TREE (LACE)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# These are the plotting modules adn libraries we'll use:
import matplotlib as mpl
import seaborn as sns

# The normal imports
from numpy.random import randn

# Import the stats librayr from numpy
from scipy import stats
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB #SciKitLearn GaussianNB Naive Bayes import
from sklearn import tree ##SciKitLearn GaussianNB Naive Bayes import


# Command so that plots appear in the iPython Notebook
%matplotlib inline

train = pd.read_csv('SumStudentClicksxResult-2-0-50.csv')   # better be in the correct directory!
test = pd.read_csv('SumStudentClicksxResult-2-50-100.csv')
test.head(5)

   id_student  SumOfsum_click final_result
0      100893             250         Pass
1      101781             891         Pass
2      102806             486         Pass
3      102952             242         Pass
4     1035023             496         Pass

In [2]:
train.head(5)

   id_student  SumOfsum_click final_result
0      100893             206         Pass
1      101781            1505         Pass
2      102806             590         Pass
3      102952             444         Pass
4     1035023             459         Pass

In [3]:
cols = ['SumOfsum_click']
cols2 = ['final_result']

trainArr = train[cols].to_numpy()
trainRes = train[cols2].to_numpy()

testArr = test[cols].to_numpy()
testRes = test[cols2].to_numpy()

#depreciated transformation to numpy array
# trainArr = train.to_numpy(cols)
# trainRes = train.to_numpy(cols2)

# testArr = test.to_numpy(cols)
# testRes = test.to_numpy(cols2)

#clf = GaussianNB()
clf = tree.DecisionTreeClassifier()

# print(trainArr[0])
# print(trainRes[0])
# print(testArr[0])
# print(testRes[0])

output = clf.fit(trainArr, trainRes).predict(testArr)

for i in range(390):
    #if testRes[i][0] == output[i] and testRes[i]=="Distinction":
    #if testRes[i][0] == output[i] and testRes[i]<>"Pass":
    if testRes[i][0] == output[i]:
        print('CORRECT   ' + str(output[i]) + "   " + str(testRes[i]))
        #print("PREDICTION:  " + str(output[i]) + "  " + str(testArr[i]) + "  " + str(testRes[i]) + "     RIGHT")
    else:
        print('INCORRECT ' + str(output[i]) + "   " + str(testRes[i]))
        #print("PREDICTION:  " + str(output[i]) + "  " + str(testArr[i]) + "  " + str(testRes[i]) + "     WRONG")

INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Withdrawn   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Distinction   ['Pass']
INCORRECT Pass   ['Withdrawn']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Withdrawn']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Withdrawn']
INCORRECT Distinction   ['Pass']
CORRECT   Fail   ['Fail']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Fail   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Fail   ['Fail']
INCORRECT Pass   ['Distinction']
INCORRECT Distinction   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Distinction   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Pass   ['Withdrawn']
INCORRECT Distinction   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Distinction   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Withdrawn   ['Pass']
CORRECT   Withdrawn   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
INCORRECT Distinction   ['Pass']
INCORRECT Distinction   ['Withdrawn']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Withdrawn']
CORRECT   Fail   ['Fail']
INCORRECT Fail   ['Withdrawn']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Distinction']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Pass   ['Fail']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Distinction']
CORRECT   Fail   ['Fail']
INCORRECT Withdrawn   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
INCORRECT Pass   ['Fail']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Withdrawn']
CORRECT   Distinction   ['Distinction']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Fail   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Distinction   ['Pass']
INCORRECT Withdrawn   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Pass   ['Distinction']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Withdrawn']
INCORRECT Distinction   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Distinction   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Pass   ['Withdrawn']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Distinction   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Fail   ['Fail']
INCORRECT Fail   ['Pass']
CORRECT   Fail   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Pass   ['Distinction']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
INCORRECT Fail   ['Distinction']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Distinction   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Fail   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Withdrawn   ['Pass']
INCORRECT Pass   ['Distinction']
CORRECT   Pass   ['Pass']
CORRECT   Fail   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Fail   ['Fail']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Fail   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Distinction   ['Distinction']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Fail   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Fail   ['Fail']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Withdrawn']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Withdrawn']
INCORRECT Pass   ['Distinction']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Distinction   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Withdrawn   ['Fail']
INCORRECT Fail   ['Withdrawn']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Distinction   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Fail   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Fail   ['Fail']
INCORRECT Fail   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Distinction']
CORRECT   Pass   ['Pass']
CORRECT   Fail   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Distinction']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Distinction   ['Pass']

In [4]:
correct = 0.0

for i in range(len(output)): 
    if testRes[i][0] == output[i]: 
        correct += 1
    
print(correct / len(output))


#print("Accuracy: " + gnb.score(testArr, testRes))
print("Accuracy: " + str(clf.score(testArr, testRes)))

0.5370843989769821
Accuracy: 0.5370843989769821

In [5]:
expected = testRes
predicted = clf.predict(testArr)
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

              precision    recall  f1-score   support

 Distinction       0.11      0.10      0.10        21
        Fail       0.21      0.32      0.25        50
        Pass       0.71      0.69      0.70       275
   Withdrawn       0.07      0.04      0.05        45

    accuracy                           0.54       391
   macro avg       0.27      0.29      0.28       391
weighted avg       0.54      0.54      0.54       391

[[  2   2  16   1]
 [  0  16  31   3]
 [ 15  48 190  22]
 [  1  11  31   2]]

In [6]:
count=0 
passn=0
fail=0
distinction=0
withdrawn=0
for i in range(len(output)): 
    count += 1
    if testRes[i][0]=='Pass':
        passn += 1
    if testRes[i][0]=='Fail':
        fail += 1
    if testRes[i][0]=='Distinction':
        distinction += 1
    if testRes[i][0]=='Withdrawn':
        withdrawn += 1
print ("Pass: " + str(passn))
print ("Fail: " + str(fail))
print ("Distinction: " + str(distinction))
print ("Withdrawn: " + str(withdrawn))

Pass: 275
Fail: 50
Distinction: 21
Withdrawn: 45

# OUR VERSION OF THE DATASET

In [7]:
vle = pd.read_csv('studentVle.csv')
info = pd.read_csv('studentInfo.csv')

In [8]:
import csv
import operator
import random

TRAIN_SET_PERCENTAGE = 0.4

STUDENT_INFO = 'studentInfo.csv'
TRAIN_STUDENT_INFO = 'studentInfoTrain.csv'
TEST_STUDENT_INFO = 'studentInfoTest.csv'

STUDENT_VLE = 'studentVle.csv'
TRAIN_STUDENT_VLE = 'studentVleTrain.csv'
TEST_STUDENT_VLE = 'studentVleTest.csv'

if __name__ == '__main__':
    # GET ALL STUDENT IDS
    student_ids = list()

    with open(STUDENT_INFO) as student_info:
        student_info_reader = csv.reader(student_info, delimiter=',', quotechar='"')

        for row in student_info_reader:
            if student_info_reader.line_num == 1:
                continue

            student_ids.append(row[2])

    # SPLIT STUDENT IDS INTO TRAINING AND TEST
    length = len(student_ids)
    train_length = round(length * TRAIN_SET_PERCENTAGE)

    train_indexes = random.sample(range(0, length - 1), train_length)
    train_student_ids = set(operator.itemgetter(*train_indexes)(student_ids))
    test_student_ids = set(student_ids).difference(set(train_student_ids))

    # CREATE NEW DATASETS
    for [TRAIN_FILE, TEST_FILE, STUDENT_FILE] in [[TRAIN_STUDENT_INFO, TEST_STUDENT_INFO, STUDENT_INFO],
                                                  [TRAIN_STUDENT_VLE, TEST_STUDENT_VLE, STUDENT_VLE]]:
        with open(TRAIN_FILE, 'w', newline='') as train_file, open(TEST_FILE, 'w', newline='') as test_file, open(
                STUDENT_FILE) as student_info:
            student_info_reader = csv.reader(student_info, delimiter=',', quotechar='"')
            train_file_writer = csv.writer(train_file)
            test_file_writer = csv.writer(test_file)

            for row in student_info_reader:
                if student_info_reader.line_num == 1:
                    train_file_writer.writerow(row)
                    test_file_writer.writerow(row)
                    continue

                student_id = row[2]

                if student_id in train_student_ids:
                    train_file_writer.writerow(row)
                else:
                    test_file_writer.writerow(row)

In [76]:
vle_train = pd.read_csv('studentVleTrain.csv')
vle_test = pd.read_csv('studentVleTest.csv')

info_train = pd.read_csv('studentInfoTrain.csv')
info_test = pd.read_csv('studentInfoTest.csv')

In [77]:
vle_train.head(5)
info_train.head(5)

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass
3,AAA,2013J,45642,F,North Western Region,A Level or Equivalent,90-100%,0-35,0,120,N,Pass
4,AAA,2013J,53025,M,North Region,Post Graduate Qualification,NaN,55<=,0,60,N,Pass

In [93]:
#for now, select only course AAA and 2013
vle_train_a = vle_train.loc[(vle_train.code_module == 'AAA') & (vle_train.code_presentation == '2013J')]
vle_test_a = vle_test.loc[(vle_test.code_module == 'AAA') & (vle_test.code_presentation == '2013J')]

#reduce vle set to only include relevant columns
vle_train_a = vle_train_a[['id_student', 'date', 'sum_click']]
vle_test_a = vle_test_a[['id_student', 'date', 'sum_click']]

#group vle data on student id and date, while summing the clicks
vle_train_group = vle_train_a.groupby(['id_student', 'date']).agg({'sum_click':'sum'}).reset_index()
vle_test_group = vle_test_a.groupby(['id_student', 'date']).agg({'sum_click':'sum'}).reset_index()

#for now, select only course AAA and 2013 of demo info
info_train_a = info_train.loc[(info_train.code_module == 'AAA') & (info_train.code_presentation == '2013J')]
info_test_a = info_test.loc[(info_test.code_module == 'AAA') & (info_test.code_presentation == '2013J')]

#reduce info set to only include relevant columns
info_train_a = info_train_a[['id_student', 'gender', 'highest_education', 'num_of_prev_attempts', 'final_result']]
info_test_a = info_test_a[['id_student', 'gender', 'highest_education', 'num_of_prev_attempts', 'final_result']]

#change num_of_prev_attempts to boolean, need to only run this once
info_train_a.loc[info_train_a['num_of_prev_attempts'] > 0, ['num_of_prev_attempts']] = 'y'      
info_train_a.loc[info_train_a['num_of_prev_attempts'] == 0, ['num_of_prev_attempts']] = 'n'

info_train_a = info_train_a.rename(columns={"num_of_prev_attempts": "continued"})
                        
info_test_a.loc[info_test_a['num_of_prev_attempts'] > 0, ['num_of_prev_attempts']] = 'y'      
info_test_a.loc[info_test_a['num_of_prev_attempts'] == 0, ['num_of_prev_attempts']] = 'n'

info_test_a = info_test_a.rename(columns={"num_of_prev_attempts": "continued"})



#list and number of unique students in course AAA (*train)
unique_train = vle_train_a['id_student'].unique()
print(vle_train_a['id_student'].nunique())

#list and number of unique students in course AAA (*test)
unique_test = vle_test_a['id_student'].unique()
print(vle_test_a['id_student'].nunique())



#creating dataframe for all combinations of students and dates to compare with all_train and all_test
student_train = pd.DataFrame(data=unique_train, columns=['id_student'])
date_train = pd.DataFrame(pd.Series(range(-10, 269)), columns=['date'])

student_train['one'] = 1
date_train['one'] = 1
all_dates_train = pd.merge(student_train, date_train, on='one').drop('one', axis=1)

all_train = pd.merge(all_dates_train, vle_train_group, how = 'outer', on = ['id_student', 'date'])
all_train['sum_click'] = all_train['sum_click'].fillna(0).astype(int)

#group by student id for cumulative clicks per interval
all_train['cum_sum'] = all_train.groupby('id_student')['sum_click'].transform(pd.Series.cumsum)

#merge (left join) two dataframes on student id
all_train = pd.merge(all_train, info_train_a, on = 'id_student')



#creating dataframe for all combinations of students and dates to compare with all_train and all_test
student_test = pd.DataFrame(data=unique_test, columns=['id_student'])
date_test = pd.DataFrame(pd.Series(range(-10, 269)), columns=['date'])

student_test['one'] = 1
date_test['one'] = 1
all_dates_test = pd.merge(student_test, date_test, on='one').drop('one', axis=1)

all_test = pd.merge(all_dates_test, vle_test_group, how = 'outer', on = ['id_student', 'date'])
all_test['sum_click'] = all_test['sum_click'].fillna(0).astype(int)

#group by student id for cumulative clicks per interval
all_test['cum_sum'] = all_test.groupby('id_student')['sum_click'].transform(pd.Series.cumsum)

#merge (left join) two dataframes on student id
all_test = pd.merge(all_test, info_test_a, on = 'id_student')

163
215

In [94]:
all_train.head(20)

,id_student,date,sum_click,cum_sum,gender,highest_education,continued,final_result
0,28400,-10,70,70,F,HE Qualification,n,Pass
1,28400,-9,0,70,F,HE Qualification,n,Pass
2,28400,-8,9,79,F,HE Qualification,n,Pass
3,28400,-7,81,160,F,HE Qualification,n,Pass
4,28400,-6,13,173,F,HE Qualification,n,Pass
5,28400,-5,4,177,F,HE Qualification,n,Pass
6,28400,-4,6,183,F,HE Qualification,n,Pass
7,28400,-3,0,183,F,HE Qualification,n,Pass
8,28400,-2,32,215,F,HE Qualification,n,Pass
9,28400,-1,0,215,F,HE Qualification,n,Pass
10,28400,0,48,263,F,HE Qualification,n,Pass
11,28400,1,16,279,F,HE Qualification,n,Pass
12,28400,2,0,279,F,HE Qualification,n,Pass
13,28400,3,0,279,F,HE Qualification,n,Pass
14,28400,4,29,308,F,HE Qualification,n,Pass
15,28400,5,9,317,F,HE Qualification,n,Pass
16,28400,6,73,390,F,HE Qualification,n,Pass
17,28400,7,7,397,F,HE Qualification,n,Pass
18,28400,8,59,456,F,HE Qualification,n,Pass
19,28400,9,0,456,F,HE Qualification,n,Pass

In [88]:
all_test

,id_student,date,sum_click,cum_sum,gender,highest_education,continued,final_result
0,30268,-10,10,10,F,A Level or Equivalent,n,Withdrawn
1,30268,-9,1,11,F,A Level or Equivalent,n,Withdrawn
2,30268,-8,3,14,F,A Level or Equivalent,n,Withdrawn
3,30268,-7,0,14,F,A Level or Equivalent,n,Withdrawn
4,30268,-6,0,14,F,A Level or Equivalent,n,Withdrawn
...,...,...,...,...,...,...,...,...
59980,341872,264,0,201,M,Lower Than A Level,n,Fail
59981,341872,265,0,201,M,Lower Than A Level,n,Fail
59982,341872,266,0,201,M,Lower Than A Level,n,Fail
59983,341872,267,0,201,M,Lower Than A Level,n,Fail
59984,341872,268,0,201,M,Lower Than A Level,n,Fail

In [91]:
print(all_train.max())
print(all_test.max())

id_student                               2691244
date                                         268
sum_click                                   1341
cum_sum                                    12882
gender                                         M
highest_education    Post Graduate Qualification
continued                                      n
final_result                           Withdrawn
dtype: object
id_student                               2698257
date                                         268
sum_click                                    429
cum_sum                                     7182
gender                                         M
highest_education    Post Graduate Qualification
continued                                      n
final_result                           Withdrawn
dtype: object

In [17]:
all_train.to_csv(r'studentTrainAll.csv', index = False)
all_test.to_csv(r'studentTestAll.csv', index = False)

In [18]:
all_train

,id_student,date,sum_click,gender,highest_education,continued,final_result,cum_sum
0,11391,-5,98,M,HE Qualification,n,Pass,98
1,11391,0,49,M,HE Qualification,n,Pass,147
2,11391,1,127,M,HE Qualification,n,Pass,274
3,11391,2,4,M,HE Qualification,n,Pass,278
4,11391,6,3,M,HE Qualification,n,Pass,281
...,...,...,...,...,...,...,...,...
14944,2691244,243,2,M,A Level or Equivalent,n,Pass,468
14945,2691244,253,1,M,A Level or Equivalent,n,Pass,469
14946,2691244,256,1,M,A Level or Equivalent,n,Pass,470
14947,2691244,259,1,M,A Level or Equivalent,n,Pass,471
14948,2691244,264,1,M,A Level or Equivalent,n,Pass,472

In [20]:
all_test

,id_student,date,sum_click,gender,highest_education,continued,final_result,cum_sum
0,30268,-10,10,F,A Level or Equivalent,n,Withdrawn,10
1,30268,-9,1,F,A Level or Equivalent,n,Withdrawn,11
2,30268,-8,3,F,A Level or Equivalent,n,Withdrawn,14
3,30268,-3,11,F,A Level or Equivalent,n,Withdrawn,25
4,30268,-2,48,F,A Level or Equivalent,n,Withdrawn,73
...,...,...,...,...,...,...,...,...
19118,2698257,228,8,M,Lower Than A Level,n,Pass,736
19119,2698257,233,4,M,Lower Than A Level,n,Pass,740
19120,2698257,234,9,M,Lower Than A Level,n,Pass,749
19121,2698257,235,8,M,Lower Than A Level,n,Pass,757
19122,2698257,268,1,M,Lower Than A Level,n,Pass,758

# METRICS (LACE)

In [ ]:
feature_names=('Pass','Fail', 'Distinction', 'Withdrawn')
with open("studentTree.dot", 'w') as f:
         f = tree.export_graphviz(clf, out_file=f, feature_names=feature_names)

In [ ]:
plt.hist(testArr)

In [ ]:
plt.hist(testArr, density=True,color='indianred',alpha=0.5,bins=20)
#plt.hist(output, normed=True,alpha=0.5,bins=20)

In [ ]:
sns.distplot(testArr,bins=25,
            kde_kws={'color':'indianred','label':'KDE PLOT'},
            hist_kws={'color':'blue','label':"HIST"})

In [ ]:
plt.hist(testArr, density=True,color='indianred',alpha=0.5,bins=20)
plt.hist(trainArr, density=True,alpha=0.5,bins=20)

In [ ]:
sns.heatmap(testArr)