# DECISION TREE (LACE)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# These are the plotting modules adn libraries we'll use:
import matplotlib as mpl
import seaborn as sns

# The normal imports
from numpy.random import randn

# Import the stats librayr from numpy
from scipy import stats
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB #SciKitLearn GaussianNB Naive Bayes import
from sklearn import tree ##SciKitLearn GaussianNB Naive Bayes import


# Command so that plots appear in the iPython Notebook
%matplotlib inline

train = pd.read_csv('SumStudentClicksxResult-2-0-50.csv')   # better be in the correct directory!
test = pd.read_csv('SumStudentClicksxResult-2-50-100.csv')
test.head(5)

   id_student  SumOfsum_click final_result
0      100893             250         Pass
1      101781             891         Pass
2      102806             486         Pass
3      102952             242         Pass
4     1035023             496         Pass

In [2]:
train.head(5)

   id_student  SumOfsum_click final_result
0      100893             206         Pass
1      101781            1505         Pass
2      102806             590         Pass
3      102952             444         Pass
4     1035023             459         Pass

In [3]:
cols = ['SumOfsum_click']
cols2 = ['final_result']

trainArr = train[cols].to_numpy()
trainRes = train[cols2].to_numpy()

testArr = test[cols].to_numpy()
testRes = test[cols2].to_numpy()

#depreciated transformation to numpy array
# trainArr = train.to_numpy(cols)
# trainRes = train.to_numpy(cols2)

# testArr = test.to_numpy(cols)
# testRes = test.to_numpy(cols2)

#clf = GaussianNB()
clf = tree.DecisionTreeClassifier()

# print(trainArr[0])
# print(trainRes[0])
# print(testArr[0])
# print(testRes[0])

output = clf.fit(trainArr, trainRes).predict(testArr)

for i in range(390):
    #if testRes[i][0] == output[i] and testRes[i]=="Distinction":
    #if testRes[i][0] == output[i] and testRes[i]<>"Pass":
    if testRes[i][0] == output[i]:
        print('CORRECT   ' + str(output[i]) + "   " + str(testRes[i]))
        #print("PREDICTION:  " + str(output[i]) + "  " + str(testArr[i]) + "  " + str(testRes[i]) + "     RIGHT")
    else:
        print('INCORRECT ' + str(output[i]) + "   " + str(testRes[i]))
        #print("PREDICTION:  " + str(output[i]) + "  " + str(testArr[i]) + "  " + str(testRes[i]) + "     WRONG")

INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Withdrawn   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Distinction   ['Pass']
INCORRECT Pass   ['Withdrawn']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Withdrawn']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Withdrawn']
INCORRECT Distinction   ['Pass']
CORRECT   Fail   ['Fail']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Fail   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Fail   ['Fail']
INCORRECT Pass   ['Distinction']
INCORRECT Distinction   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Distinction   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Pass   ['Withdrawn']
INCORRECT Distinction   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Distinction   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Withdrawn   ['Pass']
CORRECT   Withdrawn   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
INCORRECT Distinction   ['Pass']
INCORRECT Distinction   ['Withdrawn']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Withdrawn']
CORRECT   Fail   ['Fail']
INCORRECT Fail   ['Withdrawn']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Distinction']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Pass   ['Fail']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Distinction']
CORRECT   Fail   ['Fail']
INCORRECT Withdrawn   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
INCORRECT Pass   ['Fail']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Withdrawn']
CORRECT   Distinction   ['Distinction']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Fail   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Distinction   ['Pass']
INCORRECT Withdrawn   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Pass   ['Distinction']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Withdrawn']
INCORRECT Distinction   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Distinction   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
INCORRECT Pass   ['Withdrawn']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Distinction   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Fail   ['Fail']
INCORRECT Fail   ['Pass']
CORRECT   Fail   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Pass   ['Distinction']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
INCORRECT Fail   ['Distinction']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Distinction   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Distinction']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Fail   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Withdrawn   ['Pass']
INCORRECT Pass   ['Distinction']
CORRECT   Pass   ['Pass']
CORRECT   Fail   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Fail   ['Fail']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Fail   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Distinction   ['Distinction']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Fail   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Fail   ['Fail']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
INCORRECT Pass   ['Withdrawn']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Withdrawn']
INCORRECT Pass   ['Distinction']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Distinction   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Withdrawn   ['Fail']
INCORRECT Fail   ['Withdrawn']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']
CORRECT   Pass   ['Pass']
INCORRECT Distinction   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Fail   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Fail   ['Fail']
INCORRECT Fail   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Distinction']
CORRECT   Pass   ['Pass']
CORRECT   Fail   ['Fail']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Withdrawn   ['Distinction']
INCORRECT Withdrawn   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Withdrawn']
CORRECT   Pass   ['Pass']
INCORRECT Distinction   ['Pass']

In [4]:
correct = 0.0

for i in range(len(output)): 
    if testRes[i][0] == output[i]: 
        correct += 1
    
print(correct / len(output))


#print("Accuracy: " + gnb.score(testArr, testRes))
print("Accuracy: " + str(clf.score(testArr, testRes)))

0.5370843989769821
Accuracy: 0.5370843989769821

In [5]:
expected = testRes
predicted = clf.predict(testArr)
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

              precision    recall  f1-score   support

 Distinction       0.11      0.10      0.10        21
        Fail       0.21      0.32      0.25        50
        Pass       0.71      0.69      0.70       275
   Withdrawn       0.07      0.04      0.05        45

    accuracy                           0.54       391
   macro avg       0.27      0.29      0.28       391
weighted avg       0.54      0.54      0.54       391

[[  2   2  16   1]
 [  0  16  31   3]
 [ 15  48 190  22]
 [  1  11  31   2]]

In [6]:
count=0 
passn=0
fail=0
distinction=0
withdrawn=0
for i in range(len(output)): 
    count += 1
    if testRes[i][0]=='Pass':
        passn += 1
    if testRes[i][0]=='Fail':
        fail += 1
    if testRes[i][0]=='Distinction':
        distinction += 1
    if testRes[i][0]=='Withdrawn':
        withdrawn += 1
print ("Pass: " + str(passn))
print ("Fail: " + str(fail))
print ("Distinction: " + str(distinction))
print ("Withdrawn: " + str(withdrawn))

Pass: 275
Fail: 50
Distinction: 21
Withdrawn: 45

# OUR VERSION OF THE DATASET

In [7]:
vle_train = pd.read_csv('studentVleTrain.csv')
vle_test = pd.read_csv('studentVleTest.csv')

info_train = pd.read_csv('studentInfoTrain.csv')
info_test = pd.read_csv('studentInfoTest.csv')

In [8]:
vle_train.head(5)
info_train.head(5)

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
1,AAA,2013J,38053,M,Wales,A Level or Equivalent,80-90%,35-55,0,60,N,Pass
2,AAA,2013J,45462,M,Scotland,HE Qualification,30-40%,0-35,0,60,N,Pass
3,AAA,2013J,52130,F,East Anglian Region,A Level or Equivalent,70-80%,0-35,0,90,N,Pass
4,AAA,2013J,53025,M,North Region,Post Graduate Qualification,NaN,55<=,0,60,N,Pass

In [9]:
#for now, select only course AAA and 2013
vle_train_a = vle_train.loc[(vle_train.code_module == 'AAA') & (vle_train.code_presentation == '2013J')]
vle_test_a = vle_test.loc[(vle_test.code_module == 'AAA') & (vle_test.code_presentation == '2013J')]

#reduce vle set to only include relevant columns
vle_train_a = vle_train_a[['id_student', 'date', 'sum_click']]
vle_test_a = vle_test_a[['id_student', 'date', 'sum_click']]

#group vle data on student id and date, while summing the clicks
vle_train_group = vle_train_a.groupby(['id_student', 'date']).agg({'sum_click':'sum'}).reset_index()
vle_test_group = vle_test_a.groupby(['id_student', 'date']).agg({'sum_click':'sum'}).reset_index()

#for now, select only course AAA and 2013 of demo info
info_train_a = info_train.loc[(info_train.code_module == 'AAA') & (info_train.code_presentation == '2013J')]
info_test_a = info_test.loc[(info_test.code_module == 'AAA') & (info_test.code_presentation == '2013J')]

#reduce info set to only include relevant columns
info_train_a = info_train_a[['id_student', 'gender', 'highest_education', 'num_of_prev_attempts', 'final_result']]
info_test_a = info_test_a[['id_student', 'gender', 'highest_education', 'num_of_prev_attempts', 'final_result']]

info_train_a.loc[info_train_a['final_result'] == 'Distinction', ['final_result']] = 'Pass' 
info_train_a.loc[info_train_a['final_result'] == 'Withdrawn', ['final_result']] = 'Fail'

info_test_a.loc[info_test_a['final_result'] == 'Distinction', ['final_result']] = 'Pass' 
info_test_a.loc[info_test_a['final_result'] == 'Withdrawn', ['final_result']] = 'Fail'

#change num_of_prev_attempts to boolean, need to only run this once
info_train_a.loc[info_train_a['num_of_prev_attempts'] > 0, ['num_of_prev_attempts']] = 'y'      
info_train_a.loc[info_train_a['num_of_prev_attempts'] == 0, ['num_of_prev_attempts']] = 'n'

info_train_a = info_train_a.rename(columns={"num_of_prev_attempts": "continued"})
                        
info_test_a.loc[info_test_a['num_of_prev_attempts'] > 0, ['num_of_prev_attempts']] = 'y'      
info_test_a.loc[info_test_a['num_of_prev_attempts'] == 0, ['num_of_prev_attempts']] = 'n'

info_test_a = info_test_a.rename(columns={"num_of_prev_attempts": "continued"})



#list and number of unique students in course AAA (*train)
unique_train = vle_train_a['id_student'].unique()
print('Number of unique students in TRAIN: %s' % (vle_train_a['id_student'].nunique()))

#list and number of unique students in course AAA (*test)
unique_test = vle_test_a['id_student'].unique()
print('Number of unique students in TEST: %s' % (vle_test_a['id_student'].nunique()))



#creating dataframe for all combinations of students and dates to merge with all_train 
student_train = pd.DataFrame(data=unique_train, columns=['id_student'])
date_train = pd.DataFrame(pd.Series(range(-10, 269)), columns=['date'])

student_train['one'] = 1
date_train['one'] = 1
all_dates_train = pd.merge(student_train, date_train, on='one').drop('one', axis=1)

#merging with all_train and adding value of 0 to sum_click on inactive days
all_train = pd.merge(all_dates_train, vle_train_group, how = 'outer', on = ['id_student', 'date'])
all_train['sum_click'] = all_train['sum_click'].fillna(0).astype(int)

#group by student id for cumulative clicks per day
all_train['cum_sum'] = all_train.groupby('id_student')['sum_click'].transform(pd.Series.cumsum)

#merge (left join) vle and demo dataframes on student id
all_train = pd.merge(all_train, info_train_a, on = 'id_student')



#creating dataframe for all combinations of students and dates to merge with all_test
student_test = pd.DataFrame(data=unique_test, columns=['id_student'])
date_test = pd.DataFrame(pd.Series(range(-10, 269)), columns=['date'])

student_test['one'] = 1
date_test['one'] = 1
all_dates_test = pd.merge(student_test, date_test, on='one').drop('one', axis=1)

#merging with all_test and adding value of 0 to sum_click on inactive days
all_test = pd.merge(all_dates_test, vle_test_group, how = 'outer', on = ['id_student', 'date'])
all_test['sum_click'] = all_test['sum_click'].fillna(0).astype(int)

#group by student id for cumulative clicks per day
all_test['cum_sum'] = all_test.groupby('id_student')['sum_click'].transform(pd.Series.cumsum)

#merge (left join) vle and demo dataframes on student id
all_test = pd.merge(all_test, info_test_a, on = 'id_student')

Number of unique students in TRAIN: 171
Number of unique students in TEST: 207

In [10]:
all_train.head(10)

,id_student,date,sum_click,cum_sum,gender,highest_education,continued,final_result
0,31604,-10,60,60,F,A Level or Equivalent,n,Pass
1,31604,-9,69,129,F,A Level or Equivalent,n,Pass
2,31604,-8,0,129,F,A Level or Equivalent,n,Pass
3,31604,-7,0,129,F,A Level or Equivalent,n,Pass
4,31604,-6,27,156,F,A Level or Equivalent,n,Pass
5,31604,-5,0,156,F,A Level or Equivalent,n,Pass
6,31604,-4,1,157,F,A Level or Equivalent,n,Pass
7,31604,-3,0,157,F,A Level or Equivalent,n,Pass
8,31604,-2,12,169,F,A Level or Equivalent,n,Pass
9,31604,-1,0,169,F,A Level or Equivalent,n,Pass

In [11]:
all_test.head(10)

,id_student,date,sum_click,cum_sum,gender,highest_education,continued,final_result
0,28400,-10,70,70,F,HE Qualification,n,Pass
1,28400,-9,0,70,F,HE Qualification,n,Pass
2,28400,-8,9,79,F,HE Qualification,n,Pass
3,28400,-7,81,160,F,HE Qualification,n,Pass
4,28400,-6,13,173,F,HE Qualification,n,Pass
5,28400,-5,4,177,F,HE Qualification,n,Pass
6,28400,-4,6,183,F,HE Qualification,n,Pass
7,28400,-3,0,183,F,HE Qualification,n,Pass
8,28400,-2,32,215,F,HE Qualification,n,Pass
9,28400,-1,0,215,F,HE Qualification,n,Pass

In [12]:
check = all_train.loc[all_train['id_student'] == 11391]
check.head(20)

Empty DataFrame
Columns: [id_student, date, sum_click, cum_sum, gender, highest_education, continued, final_result]
Index: []

In [13]:
print(all_train.min())
print(all_test.min())

print(all_train.max())
print(all_test.max())

id_student                           31604
date                                   -10
sum_click                                0
cum_sum                                  0
gender                                   F
highest_education    A Level or Equivalent
continued                                n
final_result                          Fail
dtype: object
id_student                           11391
date                                   -10
sum_click                                0
cum_sum                                  0
gender                                   F
highest_education    A Level or Equivalent
continued                                n
final_result                          Fail
dtype: object
id_student                               2698257
date                                         268
sum_click                                    429
cum_sum                                    10083
gender                                         M
highest_education    Post Graduate Qualification
continued                                      n
final_result                                Pass
dtype: object
id_student                               2694424
date                                         268
sum_click                                   1341
cum_sum                                    12882
gender                                         M
highest_education    Post Graduate Qualification
continued                                      n
final_result                                Pass
dtype: object

# TRAINING ON OUR DATASET

In [14]:
cols = ['cum_sum']
cols2 = ['final_result']

trainArr = all_train[cols].to_numpy()
trainRes = all_train[cols2].to_numpy()

testArr = all_test[cols].to_numpy()
testRes = all_test[cols2].to_numpy()

#depreciated transformation to numpy array
# trainArr = train.to_numpy(cols)
# trainRes = train.to_numpy(cols2)

# testArr = test.to_numpy(cols)
# testRes = test.to_numpy(cols2)

#clf = GaussianNB()
clf = tree.DecisionTreeClassifier()

# print(trainArr[0])
# print(trainRes[0])
# print(testArr[0])
# print(testRes[0])

output = clf.fit(trainArr, trainRes).predict(testArr)

for i in range(280):
    #if testRes[i][0] == output[i] and testRes[i]=="Distinction":
    #if testRes[i][0] == output[i] and testRes[i]<>"Pass":
    if testRes[i][0] == output[i]:
        print('CORRECT   ' + str(output[i]) + "   " + str(testRes[i]))
        #print("PREDICTION:  " + str(output[i]) + "  " + str(testArr[i]) + "  " + str(testRes[i]) + "     RIGHT")
    else:
        print('INCORRECT ' + str(output[i]) + "   " + str(testRes[i]))
        #print("PREDICTION:  " + str(output[i]) + "  " + str(testArr[i]) + "  " + str(testRes[i]) + "     WRONG")

CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
INCORRECT Fail   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
CORRECT   Pass   ['Pass']
INCORRECT Pass   ['Fail']

In [15]:
for i in range(-10, 269):
    train = all_train.loc[all_train['date'] == i]
    
    train_feature = train[['cum_sum', 'gender', 'highest_education', 'continued']].to_numpy()
    train_result = train['final_result'].to_numpy() 
    
    test = all_test.loc[all_test['date'] == i]
    
    test_feature = test[['cum_sum', 'gender', 'highest_education', 'continued']].to_numpy()
    test_result = test['final_result'].to_numpy()
    
    clf = tree.DecisionTreeClassifier()
    clf.fit(train_feature, train_result)
    output = clf.predict(test_feature)
         
    print(metrics.classification_report(test_result, output))
    print(metrics.confusion_matrix(test_result, output))

ValueError: could not convert string to float: 'F'

In [ ]:
from h2o.tree import H2OTree
from h2o.estimators import H2OGradientBoostingEstimator
import h2o

h2o.init()
h2o.connect()

gbm = H2OGradientBoostingEstimator(ntrees=1)
train_hf = h2o.H2OFrame(train)

gbm.train(x=['cum_sum', 'gender', 'highest_education', 'continued'],
          y="final_result",
          training_frame=train_hf)
# Obtaining a tree is a matter of a single call
tree = H2OTree(model = gbm, tree_number = 0)
tree.model_id
tree.tree_number
tree.tree_class

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) Client VM (build 25.261-b12, mixed mode, sharing)

C:\Users\natha\AppData\Roaming\Python\Python38\site-packages\h2o\backend\server.py:385: UserWarning:   You have a 32-bit version of Java. H2O works best with 64-bit Java.
  Please download the latest 64-bit Java SE JDK from Oracle.

  warn("  You have a 32-bit version of Java. H2O works best with 64-bit Java.\n"

  Starting server from C:\Users\natha\AppData\Roaming\Python\Python38\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\natha\AppData\Local\Temp\tmp0bs4mde7
  JVM stdout: C:\Users\natha\AppData\Local\Temp\tmp0bs4mde7\h2o_natha_started_from_python.out
  JVM stderr: C:\Users\natha\AppData\Local\Temp\tmp0bs4mde7\h2o_natha_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         01 secs
H2O_cluster_timezone:       Europe/Berlin
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.1.3
H2O_cluster_version_age:    19 days
H2O_cluster_name:           H2O_from_python_natha_ll07wj
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    247.5 Mb
H2O_cluster_total_cores:    16
H2O_cluster_allowed_cores:  16
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.3 final
--------------------------  ---------------------------------------------------------

Connecting to H2O server at http://localhost:54321 ... successful.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       Europe/Berlin
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.1.3
H2O_cluster_version_age:    19 days
H2O_cluster_name:           H2O_from_python_natha_ll07wj
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    239.6 Mb
H2O_cluster_total_cores:    16
H2O_cluster_allowed_cores:  16
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.3 final
--------------------------  ---------------------------------------------------------

Parse progress: |█████████████████████████████████████████████████████████| 100%

# METRICS (LACE)

In [ ]:
feature_names=('Pass','Fail', 'Distinction', 'Withdrawn')
with open("studentTree.dot", 'w') as f:
         f = tree.export_graphviz(clf, out_file=f, feature_names=feature_names)

In [ ]:
plt.hist(testArr)

In [ ]:
plt.hist(testArr, density=True,color='indianred',alpha=0.5,bins=20)
#plt.hist(output, normed=True,alpha=0.5,bins=20)

In [ ]:
sns.distplot(testArr,bins=25,
            kde_kws={'color':'indianred','label':'KDE PLOT'},
            hist_kws={'color':'blue','label':"HIST"})

In [ ]:
plt.hist(testArr, density=True,color='indianred',alpha=0.5,bins=20)
plt.hist(trainArr, density=True,alpha=0.5,bins=20)

In [ ]:
sns.heatmap(testArr)